# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\C++\Lab1 mat model\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
